/*  =============================================================================
    Primary styles

    NOTE: Any widths over 320px need defining within Media Queries

    Naming convention:
        .class-name for classes (hyphenated), to match Bootstrap's convention
        #idName for identifiers (camelCase), to allow compatability with C# if using runat="server" and clientidmode="static"

        also having 2 differing styles helps easily identify class vs id
    ========================================================================== */

body {
    font-size: 16px;
    color: #444444;
}

::selection
{
    background-color: #0099FF;
    color: #FFFFFF;
}

/*  =============================================================================
    Header
    ========================================================================== */

header
{
    width: 100%;
    height: 30px;
    padding: 0;
    background-color: #222222;
	line-height: 30px;
	position: fixed;
	top: 0;
    color: #CCCCCC;
    z-index: 7;/* sits over responsive slides and ckeditor (and 7 is a nice number) */
    
    -moz-box-shadow: 0 0 10px 0 #444444;
    -webkit-box-shadow: 0 0 10px 0 #444444;
    box-shadow: 0 0 10px 0 #444444;
    font-size: 14px;
}

    header span#projectName a
    {
        float: left;
        margin: 0 10px 0 10px;
        font-size: 14px;
        text-transform: lowercase;
        text-decoration: none;
        letter-spacing: 1px;
    }

        header span#projectName a span.orange
        {
            color: #ff9900;
        }

        header span#projectName a span.blue
        {
            color: #0099ff;
        }

    header nav
    {
	    margin: 0 auto;    
    }

        header nav ul
        {
            margin: 0;
            padding: 0;
        }

        header nav ul li
        {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            position: relative;
        }

        header ul li ul.dropdown
        {
            position: absolute;
            top: 0px;
            left: 0px;
            margin: 30px 0 0 -10px;
            background-color: #222222;
            width: 200px;
            padding: 10px 0 5px 0;
            z-index: 30;            
            display: none;
        }
        
            header ul li ul.dropdown li
            {
                margin: 0;
                padding: 0px 10px 5px 10px;
            }
            
            header ul ul.dropdown a {font-size: 14px;}

    header li a
	{
        color: #CCCCCC;
        text-decoration: none;
        line-height: 30px;
        display: block;
        float: left;
        padding: 0 10px 0 10px;
    }

        header li a:hover
        {
            background-color: #444444;
            color: #F1F1F1;
        }

    header div#search
	{
        position: relative;
        clear: both;
        float: left;
        margin: 0 10px 0 10px;
        z-index: 7;
    }

        header div#search input[type="search"]
		{
            border: 1px solid #fff;
            color: #CCCCCC;
            font-style: italic;
            padding: 2px 10px 2px 10px;
            width: 250px;
        }

        header div#search input[type="submit"]
		{
            background-color: #0099ff;
            color: #FFFFFF;
            border: 1px solid #0099FF;
            text-transform: uppercase;
            padding: 2px 5px 2px 5px;
        }

            header div#search input[type="submit"]:hover
			{
                background-color: #FF9900;
                border: 1px solid #FF9900;
            }

/*  =============================================================================
    Mobile menu
    ========================================================================== */

ul.mobileMenu
{
    position: absolute;
    top: 30px;
    z-index: 0;
    padding: 35px 0 0 0;
    margin: 0 0 -1px 0;

    float: right;
    width: 100%;
    clear: both;
    background-color: #222222;
    border-bottom: 5px solid #0099FF;
}

    ul.mobileMenu li
    {
        display: block;
        width: 50%;
        float: left;
        border-bottom: 1px solid #444444;
    }

        ul.mobileMenu li.last
        {
            border-bottom: none;
        }

        ul.mobileMenu li a
        {
            display: block;
            margin: 0;
            padding: 5px 0px 5px 10px;
            color: #CCCCCC;
            width: 100%;
        }

            ul.mobileMenu li a:hover
            {
                background-color: #444444;;
                color: #F1F1F1;
            }

header a.mobileMenu
{
    position: absolute;
    top: 4px;
    right: 10px;
    padding: 0;

    max-height: 1.5em;
    max-width: 1.5em;
    
    background-image: url(/images/menu.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
}
    
    header a.mobileMenu:hover
    {
        background-color: transparent;
    }

/*  =============================================================================
    Main, Block and Hero elements
    ========================================================================== */

main,
[role=main],
main[role=main]
{
  /* only one main appears on the page */
}

.block
{
	margin: 0 auto 0 auto;
}

/* inverted colours to make the element stand out from the rest of the page */
.hero
{
    background-color: #444444;
    color: #ffffff;
}

    .hero h1,
    .hero h2,
    .hero h3,
    .hero h4,
    .hero h5,
    .hero h6 {
        color: #ffffff;
    }

/*  =============================================================================
    Links
    ========================================================================== */

    figure a,
    li a,
    p a,
    table a
    {
        color: #0099FF;
        text-decoration: none;
    }

        figure a:hover,
        li a:hover,
        p a:hover,
        table a:hover
        {
            color: #FF9900;
        }

/*  =============================================================================
    Footer
    ========================================================================== */

footer
{
    clear: both;
    margin: 40px 0 0 0;
    padding: 10px 0 10px 0;
    border-top: 1px solid #CCCCCC;
    background-color: #F1F1F1;
}

    footer nav
    {
        margin: 0 auto 0 auto;
        font-size: 12px;
        padding: 0 10px 0 10px;
    }

    footer a.scroll
    {
        float: right;
    }

    footer a
    {
        color: #0099FF;
        text-decoration: none;
    }

        footer a:hover
        {
            color: #FF9900;
            border-bottom: 1px solid #FF9900;
        }

/*  =============================================================================
    Web Fonts
    ========================================================================== */

body {font-family: 'Open Sans', sans-serif; font-weight: 400;}
h1 {font-family: 'Open Sans', sans-serif; font-weight: 400;}
h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif; font-weight: 700;}

/*  =============================================================================
    Typography - influenced by http://www.kaikkonendesign.fi/typography/
    ========================================================================== */

h1, h2, h3, h4, h5, h6
{
	line-height: 1.1em;
	color: #222222;
	margin: 1em 0 0.5em 0;
    padding: 0 10px 0 10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
	color: #222222;
	text-decoration: none;
}

h1.title
{
    background-color: #F1F1F1;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(/images/background.png);
    background-position: center center;
    background-repeat: repeat;
}

h1.title span
{
    margin: 0 auto;
    display: block;
    padding: 0.5em 0 0.3em 0;
}
		
h1 {font-size: 48px;}
h2 {font-size: 28px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

h2
{
	border-bottom: 1px solid #CCCCCC;
}

    h2 span
    {
        font-size: 16px;
        color: #CCCCCC;
    }

p, address
{
	font-size: 16px;
	line-height: 1.5em;
	margin: 10px;
}
		
p + p/* second+ p's */
{
	/*text-indent: 2em;*/
}
		
p abbr
{
	font-size: 12px;
}
		
em, i
{
	font-style: italic;
}
		
b, strong
{
	font-weight: 700;
}

/*  =============================================================================
    Message boxes/alerts
    ========================================================================== */

p.success,
p.warning,
p.error,
p.information
{
    padding: 10px;
}

p.success {
    border: 2px #9FCF9F solid;
    background-color: #DFFFDF;
    color: #005F00;
    padding: 10px;
}
 
p.warning {
    border: 2px #FDBF3B solid;
    background-color: #FFEBC1;
    color: #A6750C;
    padding: 10px;
}
  
p.error {
    border: 2px #DD0000 solid;
    background-color: #FFE3E3;
    color: #550000;
    padding: 10px;
}

p.information
{
    border: 2px #B6D5E0 solid;
    background-color: #D0F5FE;
    color: #156E94;
    padding: 10px;
}

/*  =============================================================================
    Tables
    ========================================================================== */

table
{
    margin: 10px;
}

    table tr td
    {
        padding: 5px;
    }

    table thead
    {
        background-color: #222222;
        color: #CCCCCC;
    }

    table tbody tr
    {
        border-bottom: 1px solid #CCCCCC;
    }
    
        table tbody tr.alt
        {
            background-color: #F1F1F1;
        }

    table tfoot tr td
    {

    }

/*  =============================================================================
    Lists
    ========================================================================== */

ul
{
    margin: 0 0 1em 0;
    padding: 0 10px 0 3em;
}

ol
{
    margin: 0 0 1em 0;
    padding: 0 10px 0 3em;
}

    ul li,
    ol li
    {
        margin: 0 0 0.2em 0;
    }

ul.no-list-style,
ol.no-list-style {
    list-style: none;
}

/*  =============================================================================
    Blockquotes
    ========================================================================== */

blockquote
{
    border-left: 1px solid #CCCCCC;
    padding: 0 0 0 20px;
    font-style: italic;
}

    blockquote cite
    {
        font-style: normal;
        font-size: 11px;
        color: #CCCCCC;
    }

/*  =============================================================================
    Forms
    ========================================================================== */

/* disable Safari/iOS rendering form elements with rounded corners */
/*form input[type="text"],
form input[type="email"],
form input[type="search"],
form input[type="submit"],
form input[type="file"],
form input,
form textarea,
form button
{
    -webkit-appearance: none;
}*/

form input[type="file"]
{
    width: 50%;/* fix for smartphone media queries */
}

form input[type="text"],
form input[type="email"],
form textarea
{
	border: 1px solid #CCCCCC;
	min-width: 200px;
	padding: 5px;
}

form textarea
{
    height: 4em;
}

form select
{
    min-width: 200px;
    border: 1px solid #CCCCCC;
}

fieldset
{
    border: 1px solid #CCCCCC;
    padding: 10px;
    margin: 10px 0 10px 0;
}

    fieldset legend
    {
        background-color: #FFFFFF;
        padding: 0 5px 0 5px;
    }

.ckeditor-wrapper {
    max-width: 100%;
    overflow: auto;
}

/*  =============================================================================
    Figure and Figcaption
    ========================================================================== */

figure
{
    display: block;
	font-size: 16px;
	line-height: 1.5em;
	margin: 10px;
}

figure figcaption
{
    font-style: italic;
    ccolor: #CCCCCC;
    margin: 10px 0 0 0;
}

/*  =============================================================================
    Code
    ========================================================================== */

code, pre
{
    background-color: #F1F1F1;
    padding: 5px;
    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
    font-style: normal;
}

code
{
    display: inline;
}

pre
{
    margin: 10px;
    display: block;
}

/*  =============================================================================
    Breadcrumbs
    ========================================================================== */

ol.breadcrumbs
{
    margin: 1em 10px 1em 10px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
    color: #CCCCCC;
}

    ol.breadcrumbs li
    {
        float: left;
        margin: 0 0.5em 0 0;
    }

        ol.breadcrumbs li a
        {
            color: #CCCCCC;
        }

            ol.breadcrumbs li a:hover
            {
                color: #FF9900;
                border-bottom: 1px solid #FF9900;
            }

            ol.breadcrumbs li:after
            {
                content: " >";
            }

            ol.breadcrumbs li.current:after
            {
                content: "";
            }

        ol.breadcrumbs li.current a
        {
            color: #0099FF;
        }

            ol.breadcrumbs li.current a:hover
            {
                color: #FF9900;
                border-bottom: 1px solid #FF9900;
            }

        ol.breadcrumbs li span
        {
            color: #CCCCCC;
            font-weight: 700;
            padding: 0 0.1em 0 0.4em;
        }

/*  =============================================================================
    Pagination
    ========================================================================== */

ol.pagination
{
    margin: 10px 10px 0 10px;
    padding: 0px;
    list-style: none;
    font-size: 12px;
}

    ol.pagination li
    {
        float: left;
        margin: 0 0.5em 10px 0;
        border: 1px solid #CCCCCC;
        background-color: #F1F1F1;
    }

        ol.pagination li:hover
        {
            border: 1px solid #222222;
            cursor: pointer;
        }

        ol.pagination li a
        {
            display: block;
            padding: 0.3em 0.7em 0.3em 0.7em;
            color: #0099FF;
            text-decoration: none;
        }

    ol.pagination li.current
    {
        border: 1px solid #222222;
        background-color: #CCCCCC;
        cursor: default;
    }
    
        ol.pagination li.current a
        {
            color: #222222;
            cursor: default;
        }

    ol.pagination li.disabled
    {
        cursor: default;
    }

        ol.pagination li.disabled a
        {
            color: #CCCCCC;
            cursor: default;
        }
    
        ol.pagination li.disabled:hover
        {
            border: 1px solid #CCCCCC;
        }

/*  =============================================================================
    Columns
    ========================================================================== */

.columns4
{
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.columns3
{
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.columns2
{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}


/*  =============================================================================
    Navigation
    ========================================================================== */

.block nav ul
{
    margin: 0 10px 0 10px;
    padding: 0;
}

    .block nav ul li
    {
        list-style: none;
    }

        .block nav ul li a
        {
            padding: 10px;
            color: #0099FF;
            text-decoration: none;
            display: block;
            border-bottom: none;
        }

            .block nav ul li a:hover,
            .block nav ul li a:focus
            {
                background-color: #F1F1F1;
                color: #FF9900;
                border-bottom: none;
            }

/*  =============================================================================
    Responsive slides
    ========================================================================== */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

    .rslides li {
	    -webkit-backface-visibility: hidden;
	    position: absolute;
	    display: none;
	    width: 100%;
	    left: 0;
	    top: 0;
    }

        .rslides li:first-child {
	        position: relative;
	        display: block;
	        float: left;
        }

    .rslides img {
	    display: block;
	    height: auto;
	    float: left;
	    width: 100%;
	    border: 0;
    }
		
    .rslides_tabs {
	    list-style: none;
	    padding: 0;
	    background-color: #F1F1F1;
	    font-size: 18px;
	    list-style: none;
	    margin: 0 auto 50px;
	    max-width: 960px;
	    padding: 5px;
	    text-align: center;
    }

        .rslides_tabs li {
	        display: inline;
	        float: none;
	        margin-right: 1px;
        }

            .rslides_tabs li:first-child {
	            margin-left: 0;
            }

    .rslides_tabs a {
	    width: auto;
	    line-height: 20px;
	    padding: 10px 20px 10px 20px;
	    height: auto;
	    display: inline;
	    color: #CCCCCC;
	    text-decoration: none;
    }
		
        .rslides_tabs a:hover {
	        color: #222222;
        }

    .rslides_tabs .rslides_here a {
	    background: rgba(255,255,255,.1);
	    color: #222222;
    }

/*  =============================================================================
    Images
    ========================================================================== */

img
{
    max-width: 100%;
}

/*  =============================================================================
    Framework demo styles - can be dropped from projects
    ========================================================================== */

/* use to show that an item has been completed or is no longer applicable */
.completed {
    text-decoration: line-through;
    font-style: italic;
    color: #CCCCCC;
}

ul.colour-palette
{
    list-style: none;
    margin: 0 0 1em 0;
}

    ul.colour-palette li
    {
        padding: 0.5em;
    }

    .colourF1F1F1 {background-color: #F1F1F1; color: #222222;}
    .colourCCCCCC {background-color: #CCCCCC; color: #222222;}
	.colour444444 {background-color: #444444; color: #FFFFFF;}
	.colour222222 {background-color: #222222; color: #FFFFFF;}

    .colourFF9900 {background-color: #FF9900; color: #FFFFFF;}
    .colour0099FF {background-color: #0099FF; color: #FFFFFF;}

/* give the bootstrap grid some style whilst demoing it */
.grid-demo [class*="span"] {
    background-color: #F1F1F1;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
