/*  ==========================================================================
    Media Queries

    The following is a combination of
        http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
    and
        http://www.stuffandnonsense.co.uk/projects/320andup/
    and
        the original media queries in HTML5BP

    ========================================================================== */

/* reset the padding applied in Bootstrap media queries */
body { padding: 0; }

img {max-width: 100%;}

/* NOTE: hiding all initially, for demonstration purposes - as in IE9 all items appear if < 320px */
p#smartphone,
p#tablet,
p#netbook,
p#laptop,
p#desktop { display: none; }

/* hiding mobile version of the menu by default */
#menu {display: block;}
a.mobileMenu {display: none;}
ul.mobileMenu {display: none;}

/* hiding print information by default */
#printInformation {display: none;}

/*  =============================================================================
    Smartphones
    ========================================================================== */

@media only screen and (min-width: 320px) {
    p#smartphone { display: block; }
    p#tablet { display: none; }
    p#netbook { display: none; }
    p#laptop { display: none; }
    p#desktop { display: none; }

    header {height: 30px;}
    header nav { width: 100%; }
    
    #menu {display: none;}
    a.mobileMenu {display: block;}
    ul.mobileMenu {display: none;}
    #search {display: none;}
	header div#search input[type="search"] {width: 100px;}
    
    #container {width: 100%; overflow: hidden;}

	h1 {font-size: 48px;}
    h1 {margin: 0.5em 0 0.5em 0;}
    h1.title span {width: 100%;}
    .block {width: 100%;}
    footer nav {}

    .table-wrapper {width: 100%; overflow: auto;}

    ul.colour-palette li { width: 50%; }

    fieldset {margin: 10px;}
}

/* Smartphones */
/*@media only screen and (min-width: 480px) {}*/

/* Smartphones (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}*/

/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {}*/

/* Smartphones (portrait) ----------- */
/*@media only screen and (min-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {}*/

/* iPhone 4 and high pixel ratio devices ----------- */
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5){}*/

/*  =============================================================================
    Tablets
    ========================================================================== */

/* lower resolution tablets - tested with Google Nexus 7 (2012) */
@media only screen and (min-width: 600px) {
    p#smartphone { display: none; }
    p#tablet { display: block; }
    p#netbook { display: none; }
    p#laptop { display: none; }
    p#desktop { display: none; }

    h1 {margin: 1em 0 0.5em 0;}
    h1.title {margin: 30px 0 0 0;}

    ul.colour-palette li { width: 30%; }

    fieldset {margin: 10px 0 10px 0;}
}

@media only screen and (min-width: 768px) {
    p#smartphone { display: none; }
    p#tablet { display: block; }
    p#netbook { display: none; }
    p#laptop { display: none; }
    p#desktop { display: none; }
    
    header { height: 30px; }
    header nav { width: 100%; }
    
    /* hide mobile dropdown menu */
    #menu {display: block;}
    a.mobileMenu {display: none;}
    ul.mobileMenu {display: none;}
    #search {display: block;}
	header div#search input[type="search"] {width: 200px;}
    
    header div#search
	{
        position: relative;
        clear: none;
        float: right;
    }

    h1 {margin: 1em 0 0.5em 0;}
    h1.title {margin: 30px 0 0 0;}

    ul.colour-palette li { width: 30%; }

    fieldset {margin: 10px 0 10px 0;}
}

/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}*/

/* iPads (landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}*/

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {}*/

/*  =============================================================================
    Netbooks/Laptops/Desktops
    ========================================================================== */

@media only screen and (min-width: 960px) {
    p#smartphone { display: none; }
    p#tablet { display: none; }
    p#netbook { display: block; }
    p#laptop { display: none; }
    p#desktop { display: none; }

    header nav { width: 960px; }  
	h1 {font-size: 64px;}	
    h1.title span {width: 940px;}/* allowing for padding of 10px either side */
    .block {width: 960px;}
    .hero {width: 100%;}
    footer nav {width: 960px;}

    ul.colour-palette li { width: 20%; }
	
	header div#search input[type="search"] {width: 250px;}
}

/*  =============================================================================
    Desktops and Laptops
    ========================================================================== */

@media only screen and (min-width: 1280px){
    p#smartphone { display: none; }
    p#tablet { display: none; }
    p#netbook { display: none; }
    p#laptop { display: block; }
    p#desktop { display: none; }
}

/*  =============================================================================
    Large screens
    ========================================================================== */

@media only screen and (min-width : 1824px){
    p#smartphone { display: none; }
    p#tablet { display: none; }
    p#netbook { display: none; }
    p#laptop { display: none; }
    p#desktop { display: block; }
}